:root {
  --very-peri: rgb(104,106,170); /* Pantone 2022 Color of Year Very Peri */
  --very-peri-amusements-red: rgb(212,82,122); /* Pantone Color of Year Amusements Palette Complementary Red */
  --very-peri-amusements-orange: rgb(212,125,114); /* Pantone Color of Year Amusements Palette Complementary Orange */
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

html {
  box-sizing: border-box;
  background-color: white;
}

*, *::before, *::after {
  box-sizing: inherit;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.material-icons.very-peri { color: var(--very-peri); }
.material-icons.very-peri-amusements-orange { color: var(--very-peri-amusements-orange); }
.material-icons.very-peri-amusements-red { color: var(--very-peri-amusements-red); }