.heading2Xl {
    font-size: 2.5rem;
    line-height: 1.2;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
  }
  
  .headingXl {
    font-size: 2rem;
    line-height: 1.3;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
  }
  
  .headingLg {
    font-size: 1.5rem;
    line-height: 1.4;
    margin: 1rem 0;
  }
  
  .headingMd {
    font-size: 1.2rem;
    line-height: 1.5;
  }
  
  .borderCircle {
    border-radius: 9999px;
  }
  
  .colorInherit {
    color: inherit;
  }
  
  .padding1px {
    padding-top: 1px;
  }
  
  .list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .listItem {
    margin: 0 0 1.25rem;
  }
  
  .lightText {
    color: #666;
  }
  
  .signedIn{
    text-align: right;
    margin: 2em;
  }
  
  .containerForSignUpButtonandCreateAccountButton {
    align-self: stretch;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: flex-end;
  }
  
  .signInButton {
    background-color: var(--very-peri);
    border-color: var(--very-peri);
    border-width: 1px;
    border-radius: 10px;
    border-style: solid;
    text-align: center;
    color: white;
    padding: 10px 20px 10px 20px;
    margin: 20px 10px 10px 10px;
  }
  
  .createAccountButton {
    background-color: lightgray;
    border-color: lightgray;
    border-width: 1px;
    border-radius: 10px;
    border-style: solid;
    text-align: center;
    color: black;
    padding: 10px 20px 10px 20px;
    margin: 20px 20px 10px 10px;
  }
  
  
  .signInOrSignUpFlexBox {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 3px;
  }
  
  .signInOrSignUpComponent {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    border-color: grey;
    border-width: 1px;
    border-radius: 10px;
    border-style: solid;
    text-align: center;
    margin: 20px 0px 20px 0px;
    padding: 10px 10px 10px 10px;
    width: 300px;
  }
  
  .closeSignInOrSignUpFlexBoxButtonContainer {
    align-self: stretch;
    display: flex;
    flex-flow: row;
    align-items: flex-end;
    justify-content: flex-end;
  }
  
  .closeSignInOrSignUpFlexBoxButtonContainer button {
    background-color:lightgray;
    color: black;
    border-radius: 50%;
    border-color: lightgray;
    border-width: 1px;
    border-style: solid;
    padding: 8px;
    text-align: center;
  }
  
  .signInOrSignUpComponent hr {
    border: 0px;
    height: 1px;
    background-color: grey;
    margin-top: 50px;
  }
  
  .signInOrSignUpComponent a {
    color: black;
  }
  
  .signInOrSignUpComponentLegal {
    font-size: 12px;
    padding-bottom: 10px;
  }
  
  .signInOrSignUpComponentToggleAccountExistsStatusButton {
    border: none;
    background-color: white;
    color: var(--very-peri);
    font-size: 20px;
  
  }
  
  .waitingForFirebase {
    display: flex;
    flex-flow: column;
    min-width: 100vw;
    min-height: 100vh;
    align-items: center;
    vertical-align: center;
    justify-content: center;
    text-align: center;
    background-color: white;
    color: red;
  }
  
  
  .googleSignInButton {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    vertical-align: center;
    text-align: left;
    background-color: transparent;
    border-color: lightgray;
    border-width: 1px;
    border-style: solid;
    box-shadow: none;
    min-height: 46px;
    min-width: 191px;
    margin: 20px 0px 20px 0px;
  }

  .googleSignInButton > * {
    flex: 0 1 auto;
  }

  .googleSignInButton > div:first-child {
    margin: 0dp 0dp 0dp 4px;
  }

  .googleSignInButton > div:nth-child(2) {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    padding: 0px 4px 0px 4px;
    width: max-content;
    white-space: nowrap;
    color: gray;
  }






.fullWidthContainerWhite {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100vw;
  min-height: 200px;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  color: black;
  padding: 100px 20px 20px 20px;
}

.heroHeadline {
  font-size: 48px;
  font-weight: bold;
  padding: 0px;
}

.heroSubHeadline {
  font-size: 30px;
  font-weight: lighter;
}

.boldText {
  font-size: 30px;
  font-weight: bold;
}

.lighterText {
  font-size: 18.54px;
  font-weight: lighter;
}

.linkContainer {
  margin: 20px;
}


.fullWidthContainerVeryPeri {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  min-height: 500px;
  background-color: var(--very-peri);
  color: white;
  padding: 30px 20px 30px 20px;
  text-align: center;
}

.fullWidthContainerVeriPeriAmusementsOrange {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  min-height: 500px;
  background-color: var(--very-peri-amusements-orange);
  color: white;
  padding: 0px 20px 0px 20px;
  text-align: center;
}

.landingPageFeaturesWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px 0px 20px 0px;
}

.landingPageFeatureWrapper {
  min-width: 200px;
  max-width: 250px;
  padding: 20px;
  border-color: var(--very-peri-amusements-orange);
  border-width: 1px;
  border-radius: 10px;
  border-style: solid;
  text-align: center;
  color: var(--very-peri-amusements-red);
  margin: 20px;
}

.landingPageFeatureWrapper p {
  color: var(--very-peri-amusements-red);
}


.largeButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: auto;
  width: auto;
  max-width: 300px;
  padding: 10px;
  border-color: var(--very-peri);
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  background-color: var(--very-peri);
  color: white;
  margin: 5px;
}

.largeButton:hover {
  background-color: var(--very-peri-amusements-orange);
  border-color: var(--very-peri-amusements-orange);
  transition: 0.3s;
}
